<a asp-action="PrintCashMemo" asp-controller="CustomOrder" asp-route-id="@Model" class="btn btn-primary">
    <i class="far fa-money-bill-alt"></i>
    @T("Nop.Cypher.Misc.MJSTraders.Shipment.CashMemo.Button")
</a>